@page "/"
@using Microsoft.EntityFrameworkCore
@using global::OJBlazor.Share.DataModels
@inject IDbContextFactory<OJContext> DbFactory


<PageTitle>个人中心</PageTitle>

<h2>欢迎! @User.Name</h2>
<Divider/>
<Row ItemsPerRow="ItemsPerRow.Four" ColSpan="4">
    @foreach (var item in Total)
    {
        <a href="@($"Course/{item.HashName}")">
            <Card IsCenter="true" IsShadow="true" class="item">
                <BodyTemplate>
                    <h6>@item.Name</h6>
                    <p>@item.Intro</p>
                </BodyTemplate>
            </Card>
        </a>
    }
</Row>

@code
{
    [CascadingParameter]
    public UserModel User { get; set; } = new();
    private List<CourseModel> Total { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await using var context = await DbFactory.CreateDbContextAsync();
        Total = await context.CourseModels.ToListAsync();
    }
}